{% block event_groups_group_slug_widget %}
    <tr id="__slug__">
        <td>
            <span>__name__</span>
            <input type="hidden" id="{{ action }}_groups" name="{{ action }}[groups][][slug]" value="__slug__">
        </td>
        <td>
            <button type="button" class="btn btn-danger" onclick="removeTr($(this));" id="group_delete" name="__value__">delete</button>
        </td>
    </tr>
{% endblock event_groups_group_slug_widget %}
<script>
    function removeTr($element) {
        $tr = $element.parent().parent();
        $tbody = $tr.parent();
        $tr.remove();
        if($tbody.children('tr').length==0){
            //delete table
            $tbody.parent().remove();
        }
    }
</script>
