<div id="tab-1" class=" scroll">
    {% block fos_user_content %}
            <ul class="user-links">
                <li class="user-links__link"><a href="" class="user-links__link icon-f-big"></a></li>
                <li class="user-links__link"><a href="" class="user-links__link icon-b-big"></a></li>
                <li class="user-links__link"><a href="" class="user-links__link icon-g-big"></a></li>
            </ul>
            {% include "FOSUserBundle:Profile:edit_content.html.twig" %}
    {% endblock fos_user_content %}
</div>
