{% extends 'base.html.twig' %}

{% block body %}
    <h1>Список гуртів по жанру {{ groupGenres[0].nameGenre }}</h1>
    <table>
        <thead>
        <tr>
            <th>Назва гурту</th>
            <th>Опис</th>
            <th>Дата заснування</th>
        </tr>
        </thead>
        <tbody>
        {% for groupGenre in groupGenres %}
            <tr>
                <td>{{ groupGenre.name }}</td>
                <td>{{ groupGenre.description }}</td>
                <td>{{ groupGenre.foundedAt }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}