{% extends 'base.html.twig' %}

{% block header %}
<div class="main-wrapper gradient-bg gradient-bg_light">
    <header class="l-header l-header_grad-bg">
        <div class="content">
            <nav class="navigation cf">
                <div><li class="logo f-l"><a href="{{ path('event_index') }}" class="logo__link logo-icon"></a></li></div>
                <ul class="navigation__items">
                    <li class="navigation__item navigation__link_upper"><a href="{{ path('event_list') }}" class="navigation__link active">Concerts</a></li>
                    <li class="navigation__item navigation__link_upper"><a href="{{ path('group_list') }}" class="navigation__link">Groups</a></li>
                    <li class="navigation__item navigation__link_upper"><a href="{{ path('genre_list') }}" class="navigation__link">Genre</a></li>
                    <li class="navigation__item navigation__link_upper"><a href="" class="navigation__link">Calendar</a></li>
                </ul>
                <div class="user-cabinet f-r" id="userBut">
                    <div class="user-cabinet__head">
                        <img src="/img/user_img.jpg" alt="" class="user-cabinet__img">
                        <span class="user-cabinet__name">Roma</span>
                    </div>
                    <ul class="user-cabinet__menu">
                        <li class="user-cabinet__item"><a href="" class="user-cabinet__link profile-icon-t">Профіль</a></li>
                        <li class="user-cabinet__item">
                            <a href="" class="user-cabinet__link concert-icon-t">Найближчі концерти</a>
                            <a href="" class="user-cabinet__link group-icon-t">Гурти</a>
                            <a href="" class="user-cabinet__link genre-icon-t">Жанри</a></li>
                        <li class="user-cabinet__item"><a href="" class="user-cabinet__link cabinet-icon-t">Кабінет менеджера</a></li>
                        <li class="user-cabinet__item"><a href="" class="user-cabinet__link logout-icon-t">Вийти</a></li>
                    </ul>
                </div>
            </nav>
        </div>
    </header>
{% endblock %}
