{% extends 'base.html.twig' %}

{% block body %}
    <h1>Список гуртів події {{ eventGroups[0].nameEvent }}</h1>
    <table>
        <thead>
        <tr>
            <th>Назва гурту</th>
            <th>Опис</th>
            <th>Рік заснування</th>
        </tr>
        </thead>
        <tbody>
        {% for eventGroup in eventGroups  %}
            <tr>
                <td>{{ eventGroup.name }}</td>
                <td>{{ eventGroup.description }}</td>
                <td>{{ eventGroup.foundedAt }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}