.cf:after,
.cf:before {
  content: '';
  display: table;
}
.cf:after {
  clear: both;
}
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
}
.f-l {
  float: left;
}
.f-r {
  float: right;
}
body {
  font: 500 16px 'Roboto';
}
.gradient-bg {
  position: relative;
}
.gradient-bg:before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: -webkit-linear-gradient(69deg, #6f156c, #00601b, #fd7c00);
  background: linear-gradient(21deg, #6f156c, #00601b, #fd7c00);
  opacity: 0.13;
  display: block;
}
.gradient-bg_light {
  background: #2a1834;
}
.gradient-bg_medium {
  background: #252f53;
}
.gradient-bg_dark {
  background: #2f2c56;
}
.content {
  width: 100%;
  max-width: 1200px;
  padding: 0 15px;
  margin: auto;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  position: relative;
}
.l-header {
  text-align: center;
  position: static;
  z-index: 10;
}
.l-header_bg-style {
  background: url("/img/bg-image.jpg") top center no-repeat;
  padding-top: 17px;
  padding-bottom: 40px;
  background-size: cover;
}
.l-header_grad-bg {
  padding-top: 17px;
  padding-bottom: 17px;
  background: rgba(0,0,0,0.6);
}
.l-sort {
  padding-top: 30px;
  padding-bottom: 30px;
  z-index: 5;
}
.l-events {
  padding-top: 45px;
  padding-bottom: 125px;
  text-align: center;
}
.l-event-dated {
  padding: 0;
  padding-top: 65px;
  padding-bottom: 80px;
}
.l-footer {
  padding-top: 24px;
  padding-bottom: 24px;
  background: #121121;
}
.l-breadcrumbs {
  padding-top: 20px;
  padding-bottom: 20px;
  background: rgba(0,0,0,0.2);
}
.l-concert {
  padding-top: 35px;
  padding-bottom: 125px;
  font-size: 0;
}
.l-about {
  padding-top: 70px;
}
.l-filters {
  padding-top: 37px;
  padding-bottom: 37px;
  background: rgba(0,0,0,0.3);
  position: static;
  z-index: 5;
}
#video1 {
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
  width: 100%;
  display: none;
}
.iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: block;
}
.fancybox-wrap.fancybox-desktop.fancybox-type-inline.fancybox-opened {
  width: 65% !important;
}
.fancybox-skin {
  padding: 2px !important;
}
.fancybox-inner {
  width: 100% !important;
}
.fancybox-nav {
  position: absolute;
  width: 36px;
  height: 32px;
  top: 50%;
}
.fancybox-nav span {
  visibility: visible;
}
.button {
  background: #2089f4;
  -webkit-border-radius: 32px;
  border-radius: 32px;
  cursor: pointer;
  display: inline-block;
  color: #fff;
}
.button_list-item {
  padding: 14px 43px;
  text-transform: capitalize;
  border: 1px solid #fff;
  display: inline-block;
  background: none;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  color: #fff;
}
.button_list-item:after {
  content: "";
  background: url("/img/list_arrow.png") bottom center no-repeat;
  width: 13px;
  height: 6px;
  display: block;
  position: absolute;
  right: 15px;
  top: 25px;
}
.button_big {
  padding: 18px 38px;
  font-size: 18px;
  text-transform: uppercase;
}
.button_big:hover {
  background: #2e96ff;
}
.button_small {
  padding: 18px 40px;
  font-size: 16px;
  font-weight: 500;
}
.button__icon {
  display: block;
  margin: 0;
}
.button__icon:before {
  content: "";
  display: inline-block;
}
#scrollTop {
  width: 52px;
  height: 52px;
  background: url("/img/arrow-top.png") center center no-repeat #fff;
  position: fixed;
  right: 5%;
  bottom: 20%;
  cursor: pointer;
  display: none;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  -webkit-box-shadow: 0 0 43px #2089f4;
  box-shadow: 0 0 43px #2089f4;
  opacity: 0.8;
  z-index: 99999999;
  outline: none;
}
#scrollTop:hover {
  opacity: 1;
}
.fb-icon {
  background: url("/img/sprite_contacts.png") left center no-repeat;
  width: 28px;
  height: 23px;
  background-position: 0 0;
  display: inline-block;
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}
.be-icon {
  background: url("/img/sprite_contacts.png") left center no-repeat;
  width: 28px;
  height: 23px;
  background-position: -28px 0;
  display: inline-block;
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}
.gh-icon {
  background: url("/img/sprite_contacts.png") left center no-repeat;
  width: 28px;
  height: 23px;
  background-position: -56px 0;
  display: inline-block;
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}
.logo-icon {
  background: url("/img/logo.png") center center no-repeat;
  width: 127px;
  height: 49px;
  display: inline-block;
  vertical-align: middle;
}
.icon_show-t:before {
  background: url("/img/show-but.png") left center no-repeat;
  width: 30px;
  height: 24px;
  margin-right: 15px;
  vertical-align: bottom;
}
.pin-icon-t:before {
  content: "";
  width: 14px;
  height: 21px;
  margin-right: 13px;
  background: url("/img/pin-icon.png") left center no-repeat;
  display: inline-block;
  vertical-align: bottom;
}
.pin-icon-t_big:before {
  content: "";
  width: 18px;
  height: 26px;
  margin-right: 13px;
  background: url("/img/concerts_big.png") -8px center no-repeat;
  display: inline-block;
  vertical-align: middle;
}
.time-icon-t:before {
  content: "";
  width: 20px;
  height: 22px;
  display: inline-block;
  background: url("/img/time-icon.png") left center no-repeat;
  vertical-align: bottom;
  margin-right: 8px;
  margin-left: -2px;
}
.time-icon-t_big:before {
  content: "";
  width: 26px;
  height: 25px;
  display: inline-block;
  background: url("/img/concerts_big.png") -40px center no-repeat;
  vertical-align: middle;
  margin-right: 8px;
  margin-left: -2px;
}
.price-icon-t_big:before {
  content: "";
  width: 34px;
  height: 33px;
  display: inline-block;
  background: url("/img/concerts_big.png") -70px center no-repeat;
  vertical-align: middle;
  margin-right: 8px;
  margin-left: -2px;
}
.arrow-icon {
  width: 30px;
  height: 20px;
  background: url("/img/arrow.png") center left no-repeat;
  display: block;
  margin: auto;
  cursor: pointer;
}
.like-icon-t:before {
  content: '';
  display: inline-block;
  width: 16px;
  height: 14px;
  background: url("/img/band-sprite-icons.png") -8px center no-repeat;
  vertical-align: middle;
  margin-right: 10px;
}
.lfm-icon:before {
  content: '';
  display: inline-block;
  width: 30px;
  height: 30px;
  background: url("/img/band-sprite-icons.png") -30px 0 no-repeat;
  vertical-align: middle;
}
.music-icon:before {
  content: '';
  display: inline-block;
  width: 30px;
  height: 30px;
  background: url("/img/band-sprite-icons.png") -60px 0 no-repeat;
  vertical-align: middle;
}
.facebook-icon:before {
  content: '';
  display: inline-block;
  width: 30px;
  height: 30px;
  background: url("/img/band-sprite-icons.png") -90px 0 no-repeat;
  vertical-align: middle;
}
.calendar-icon-t:before {
  content: '';
  display: inline-block;
  width: 40px;
  height: 35px;
  background: url("/img/calendar-icon.png") center center no-repeat;
  vertical-align: middle;
  margin-right: 10px;
}
.profile-icon-t:before {
  content: '';
  width: 21px;
  height: 18px;
  background: url("/img/profile-sprite.png") 0 0 no-repeat;
  display: inline-block;
  vertical-align: bottom;
  margin-right: 15px;
}
.concert-icon-t:before {
  content: '';
  width: 21px;
  height: 18px;
  background: url("/img/profile-sprite.png") -20px 0 no-repeat;
  display: inline-block;
  vertical-align: bottom;
  margin-right: 15px;
}
.group-icon-t:before {
  content: '';
  width: 21px;
  height: 18px;
  background: url("/img/profile-sprite.png") -42px 0 no-repeat;
  display: inline-block;
  vertical-align: bottom;
  margin-right: 15px;
}
.genre-icon-t:before {
  content: '';
  width: 21px;
  height: 18px;
  background: url("/img/profile-sprite.png") -63px 0 no-repeat;
  display: inline-block;
  vertical-align: bottom;
  margin-right: 15px;
}
.cabinet-icon-t:before {
  content: '';
  width: 21px;
  height: 18px;
  background: url("/img/profile-sprite.png") -84px 0 no-repeat;
  display: inline-block;
  vertical-align: bottom;
  margin-right: 15px;
}
.logout-icon-t:before {
  content: '';
  width: 21px;
  height: 18px;
  background: url("/img/profile-sprite.png") -105px 0 no-repeat;
  display: inline-block;
  vertical-align: bottom;
  margin-right: 15px;
}
.navigation__items {
  display: inline-block;
}
.navigation__item {
  display: inline-block;
  position: relative;
}
.navigation__link {
  color: #fff;
  display: block;
  padding: 14px 26px;
  -webkit-border-radius: 32px;
  border-radius: 32px;
  border: 1px solid transparent;
}
.navigation__link_upper {
  text-transform: uppercase;
}
.navigation__link:hover,
.navigation__link.active {
  border: 1px solid #fff;
  color: #fff;
  text-decoration: none;
}
.navigation_dark .navigation__link {
  color: #616991;
  border-color: transparent;
  padding: 8px 20px;
}
.navigation_dark .navigation__link.active {
  border-color: #616991;
  text-decoration: none;
}
.navigation_dark .navigation__link:hover {
  color: #98a0c5;
  border-color: #98a0c5;
  text-decoration: none;
}
.l-header__h {
  font-weight: 700;
  margin-top: 250px;
  color: #fff;
  font-size: 83px;
}
.l-header__text {
  color: #fff;
  font-weight: 300;
  font-size: 22px;
  margin-top: 10px;
  margin-bottom: 15px;
  display: inline-block;
}
.l-sort__items {
  background: rgba(0,0,0,0.6);
  display: inline-block;
  position: relative;
  z-index: 10;
  -webkit-border-radius: 32px;
  border-radius: 32px;
  text-align: justify;
  padding: 5px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.l-sort__items_big {
  width: 100%;
  margin-bottom: 20px;
  z-index: 5;
}
.l-sort__items_medium {
  width: 78%;
  z-index: 3;
}
.l-sort__items_small {
  width: 20%;
  z-index: 4;
}
.l-sort__items.active {
  -webkit-border-bottom-right-radius: 0;
  border-bottom-right-radius: 0;
  -webkit-border-bottom-left-radius: 0;
  border-bottom-left-radius: 0;
}
.l-sort__items.active .l-sort__header {
  color: #fff;
  display: block;
}
.l-sort__items.active .l-sort__item {
  display: block;
}
.l-sort__items.active .l-sort__list {
  display: block;
  position: absolute;
  left: 0;
  border-top: 1px solid #333149;
  padding: 10px 0;
  -webkit-border-bottom-right-radius: 32px;
  border-bottom-right-radius: 32px;
  -webkit-border-bottom-left-radius: 32px;
  border-bottom-left-radius: 32px;
  background: #101320;
  max-height: 150px;
}
.l-sort__items.active .l-sort__list:after {
  display: none;
}
.l-sort__items.active .l-sort__item {
  margin: 0;
  width: 100%;
  background: transparent;
}
.l-sort__items.active .l-sort__item:not(:last-child) {
  border-bottom: 1px solid rgba(0,0,0,0.2);
}
.l-sort__items.active .l-sort__label {
  padding: 10px 33px;
  background: transparent;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding-right: 5px;
  width: 100%;
}
.l-sort__items.active .l-sort__label:hover {
  color: #fff;
  text-decoration: none;
}
.l-sort__items.active .l-sort__header:after {
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
  background-position: bottom center;
}
.l-sort__items.active .l-sort__but:checked + .l-sort__label {
  background: transparent;
  color: #fff;
}
.l-sort__list {
  width: 100%;
  margin-bottom: -18px;
}
.l-sort__list:after {
  width: 100%;
  height: 0;
  visibility: hidden;
  overflow: hidden;
  content: "";
  display: inline-block;
}
.l-sort__list_spec {
  display: none;
}
.l-sort__item {
  display: inline-block;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.l-sort__header {
  display: none;
  width: 100%;
  padding: 18px 27px;
  color: #98a0c5;
  -webkit-border-radius: 32px;
  border-radius: 32px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  position: relative;
  cursor: pointer;
  overflow: hidden;
  vertical-align: middle;
}
.l-sort__header:after {
  content: "";
  background: url("/img/list_arrow.png") top center no-repeat;
  width: 13px;
  height: 6px;
  display: block;
  position: absolute;
  right: 15px;
  top: 25px;
}
.l-sort__header_spec {
  display: inline-block;
}
.l-sort__label {
  color: #98a0c5;
  padding: 18px 31px;
  display: inline-block;
  position: relative;
  -webkit-border-radius: 32px;
  border-radius: 32px;
  cursor: pointer;
}
.l-sort__label:hover {
  color: #fff;
  text-decoration: none;
}
.l-sort__but {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin: 0;
  display: none;
}
.l-sort__but:checked + .l-sort__label {
  background: #2089f4;
  color: #fff;
  outline: none;
}
.l-sort__picker {
  background: transparent;
  border: transparent;
  color: #98a0c5;
  outline-color: transparent;
  font-size: 16px;
}
.event-list {
  font-size: 0;
  text-align: left;
}
.event-list_normal {
  margin: 0 -4px;
  margin-bottom: 55px;
}
.event-list_normal .event-list__item {
  padding: 0 4px;
  margin-bottom: 7px;
  width: 33.3333333%;
  display: inline-block;
}
.event-list_normal .event-list__item:hover .event-list__link:after {
  display: block;
}
.event-list_normal .event-list__item:hover .event-list__but {
  background: #fff;
  border-color: transparent;
}
.event-list_normal .event-list__item:hover .event-list__price {
  display: block;
}
.event-list_normal .event-list__price {
  top: 21px;
  left: 4px;
  font-size: 14px;
  color: #6ac7cd;
  background: #fff;
  padding: 8px 19px;
  -webkit-border-bottom-right-radius: 32px;
  border-bottom-right-radius: 32px;
  -webkit-border-top-right-radius: 32px;
  border-top-right-radius: 32px;
  display: none;
}
.event-list_normal .event-list__but {
  bottom: 24px;
  right: 22px;
  font-size: 12px;
  color: #9996c4;
  background: transparent;
  border: 1px solid #9996c4;
  display: block;
  padding: 9px 19px;
}
.event-list_normal .event-list__details {
  left: 22px;
  bottom: 18px;
}
.event-list_normal .event-list__group {
  font-size: 36px;
}
.event-list_normal .event-list__link:before {
  top: 0;
  bottom: 0;
  left: 4px;
  right: 4px;
  background: -webkit-gradient(linear, left bottom, left top, color-stop(10%, #2f2c55), color-stop(30%, rgba(47,44,86,0.95)), color-stop(40%, rgba(47,44,86,0.8)), color-stop(60%, rgba(47,46,87,0)));
  background: -webkit-linear-gradient(bottom, #2f2c55 10%, rgba(47,44,86,0.95) 30%, rgba(47,44,86,0.8) 40%, rgba(47,46,87,0) 60%);
  background: linear-gradient(0deg, #2f2c55 10%, rgba(47,44,86,0.95) 30%, rgba(47,44,86,0.8) 40%, rgba(47,46,87,0) 60%);
  -webkit-border-radius: 5px;
  border-radius: 5px;
}
.event-list_normal .event-list__link:after {
  top: 0;
  bottom: 0;
  left: 4px;
  right: 4px;
  opacity: 0.7;
  display: none;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}
.event-list_normal .event-list__link .event-list__time {
  margin-top: 8px;
}
.event-list_normal .event-list__link .event-list__place {
  margin-top: 12px;
}
.event-list_aside .event-list__item {
  padding: 0;
  margin-top: 20px;
  display: block;
  -webkit-box-shadow: 0px 0px 8px rgba(0,0,0,0.53);
  box-shadow: 0px 0px 8px rgba(0,0,0,0.53);
}
.event-list_aside .event-list__item:hover .event-list__link:before {
  display: none;
}
.event-list_aside .event-list__price {
  top: 11px;
  right: 11px;
  color: #fff;
  background: rgba(255,255,255,0.3);
  -webkit-border-radius: 32px;
  border-radius: 32px;
  display: block;
}
.event-list_aside .event-list__details {
  left: 14px;
  bottom: 17px;
}
.event-list_aside .event-list__group {
  font-size: 30px;
}
.event-list_aside .event-list__link:before {
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(54,40,86,0.77);
}
.event-list_aside .event-list__link:after {
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: 0.58;
  display: block;
}
.event-list_aside .event-list__time {
  margin-top: 4px;
}
.event-list_aside .event-list__place {
  margin-top: 8px;
}
.event-list__item {
  position: relative;
  overflow: hidden;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-border-radius: 10px;
  border-radius: 10px;
}
.event-list__img {
  width: 100%;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}
.event-list__price {
  position: absolute;
  font-weight: 700;
  z-index: 3;
  padding: 8px 19px;
  font-size: 14px;
}
.event-list__but {
  position: absolute;
  -webkit-border-radius: 32px;
  border-radius: 32px;
  text-transform: uppercase;
  cursor: pointer;
  z-index: 3;
}
.event-list__details {
  position: absolute;
  font-size: 14px;
  color: #9996c4;
  max-width: 80%;
  z-index: 3;
}
.event-list__group {
  color: #fff;
  font-weight: 700;
  word-wrap: break-word;
  line-height: 1;
}
.event-list__link {
  display: block;
}
.event-list__link:before {
  content: "";
  position: absolute;
  z-index: 2;
}
.event-list__link:after {
  content: "";
  position: absolute;
  background: -webkit-gradient(linear, left bottom, left top, from(#0a00b2), to(#6bc8cd));
  background: -webkit-linear-gradient(bottom, #0a00b2, #6bc8cd);
  background: linear-gradient(0deg, #0a00b2, #6bc8cd);
  z-index: 1;
}
.l-event-dated__h {
  font-size: 32px;
  font-weight: 700;
  color: #fff;
  letter-spacing: 1px;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 46px;
}
.latest-concert {
  display: table;
  font-size: 0;
}
.latest-concert__item {
  display: table-cell;
  position: relative;
  font-size: 16px;
  padding-right: 30px;
  width: 17.1%;
}
.latest-concert__item:not(:last-child):after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 30px;
  height: 100%;
  background: url("/img/column-space.png") repeat-y;
  display: block;
}
.latest-concert__item:last-child {
  padding-right: 0;
}
.latest-concert__link {
  display: block;
  padding: 10px;
  background: rgba(255,255,255,0.1);
}
.latest-concert__link:hover {
  background: rgba(255,255,255,0.2);
  text-decoration: none;
  color: #fff;
}
.latest-concert__time {
  display: block;
  margin-top: 30px;
  margin-bottom: 16px;
  color: #9996c4;
  font-size: 14px;
  text-transform: uppercase;
}
.latest-concert__group {
  font-size: 22px;
  color: #fff;
  min-height: 90px;
}
.copyright {
  color: #3c4159;
  margin-top: 22px;
  font-size: 12px;
}
.contacts {
  display: inline-block;
  margin-top: 20px;
}
.contacts__item {
  display: inline-block;
  margin-right: 20px;
}
.contacts__link {
  width: 50px;
  height: 50px;
  display: block;
  background: #2a2939;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  text-align: center;
}
.contacts__link:hover {
  -webkit-box-shadow: 0px 0px 16px #000;
  box-shadow: 0px 0px 16px #000;
}
.contacts__link:hover .fb-icon {
  background-position: 0 -24px;
}
.contacts__link:hover .be-icon {
  background-position: -28px -24px;
}
.contacts__link:hover .gh-icon {
  background-position: -56px -24px;
}
.l-breadcrumbs__item {
  display: inline-block;
  margin-right: 16px;
}
.l-breadcrumbs__item:not(:last-child) .l-breadcrumbs__link {
  color: #9996c4;
}
.l-breadcrumbs__item:not(:last-child) .l-breadcrumbs__link:after {
  content: '';
  display: inline-block;
  background: url("/img/list_arrow.png") top center no-repeat;
  width: 13px;
  height: 6px;
  margin-left: 14px;
  -webkit-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  transform: rotate(-90deg);
  vertical-align: middle;
}
.l-breadcrumbs__item:last-child .l-breadcrumbs__link {
  color: #fff;
}
.concert-header {
  margin-bottom: 30px;
}
.concert-header-button {
  margin-top: 8px;
}
.concert-header__img {
  width: 31.6%;
  display: inline-block;
  vertical-align: top;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}
.concert-header__info {
  width: 68.4%;
  display: inline-block;
  vertical-align: top;
  padding-left: 30px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.concert-header__h {
  font-size: 42px;
  color: #fff;
  font-weight: 700;
}
.concert-header__description {
  color: #fff;
  font-size: 14px;
  margin-top: 5px;
  margin-bottom: 25px;
}
.concert-header__item {
  display: table-cell;
  vertical-align: middle;
  padding: 0 5px;
  position: relative;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.concert-header__item:not(:last-child) {
  border-right: 1px solid rgba(255,255,255,0.1);
}
.concert-header__list {
  margin-left: -30px;
  display: table;
  width: 75%;
  background: rgba(255,255,255,0.1);
  padding: 15px 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  text-align: center;
}
.concert-header__country,
.concert-header__date,
.concert-header__price {
  color: #fff;
  font-size: 18px;
  display: inline-block;
  vertical-align: middle;
  text-align: left;
}
.concert-header__place,
.concert-header__time {
  font-size: 14px;
  display: block;
}
.concert-sidebar {
  padding: 20px;
  background: rgba(255,255,255,0.1);
  width: 31.6%;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  display: inline-block;
}
.concert-sidebar .concert-timer {
  border-bottom: 1px solid rgba(255,255,255,0.05);
}
.concert-sidebar .concert-timer__header {
  color: #fff;
  font-size: 24px;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
}
.clock {
  text-align: justify;
  padding-top: 18px;
  padding-bottom: 28px;
}
.clock:after {
  width: 100%;
  height: 0;
  visibility: hidden;
  overflow: hidden;
  content: "";
  display: inline-block;
}
.clock__colon {
  font-weight: 700;
}
.clock__number {
  font-weight: 300;
  background: rgba(255,255,255,0.12);
  display: block;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  width: 73px;
}
.clock__item {
  color: #fff;
  font-size: 30px;
  display: inline-block;
  line-height: 73px;
  text-align: center;
  vertical-align: top;
}
.clock__item_days:after,
.clock__item_hours:after,
.clock__item_minutes:after {
  text-transform: uppercase;
  display: block;
  font-size: 14px;
  line-height: 1;
  font-weight: 300;
  margin-top: 12px;
}
.clock__item_days:after {
  content: 'Days';
}
.clock__item_hours:after {
  content: 'Hour';
}
.clock__item_minutes:after {
  content: 'Min';
}
.recommendations {
  padding-top: 25px;
}
.recommendations__h {
  font-size: 16px;
  font-weight: 700;
  color: #fff;
  vertical-align: middle;
}
.recommendations__count {
  width: 30px;
  height: 30px;
  display: inline-block;
  background: rgba(255,255,255,0.2);
  text-align: center;
  margin: 0 5px;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  line-height: 30px;
  vertical-align: middle;
}
.concert-body {
  width: 68.4%;
  display: inline-block;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding-left: 30px;
  padding-top: 18px;
}
.concert-body p {
  color: #fff;
  font-size: 14px;
  margin-bottom: 25px;
  line-height: 2;
}
.gallery {
  margin: 0 -10px;
  font-size: 0;
}
.gallery__fancy-link {
  display: block;
  position: relative;
  overflow: hidden;
  z-index: 2;
}
.gallery__item {
  display: inline-block;
  padding: 0 10px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin-bottom: 20px;
  cursor: pointer;
}
.gallery__item_small {
  width: 25%;
}
.gallery__item_big {
  width: 50%;
}
.gallery__item_img-grad {
  position: relative;
  z-index: 1;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}
.gallery__item_img-grad:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: block;
  background: -webkit-gradient(linear, left top, left bottom, from(0), color-stop(#290a59), to(#ff7c00));
  background: -webkit-linear-gradient(0, #290a59, #ff7c00);
  background: linear-gradient(0, #290a59, #ff7c00);
  opacity: 0.19;
  z-index: 2;
}
.gallery__item_video-grad {
  position: relative;
  z-index: 1;
  opacity: 0.8;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}
.gallery__item_video-grad:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: block;
  background: -webkit-gradient(linear, left top, left bottom, from(0), color-stop(#0a00b2), to(#6bc8cd));
  background: -webkit-linear-gradient(0, #0a00b2, #6bc8cd);
  background: linear-gradient(0, #0a00b2, #6bc8cd);
  opacity: 0.7;
  z-index: 2;
}
.gallery__item_video-grad:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: block;
  background: url("/img/play_but.png") center center no-repeat rgba(0,0,0,0.3);
  z-index: 3;
}
.gallery__item_video-grad:hover {
  opacity: 1;
}
.gallery__video,
.gallery__img {
  width: 100%;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  z-index: 1;
  position: relative;
}
iframe {
  display: none;
}
/* customizing scroll */
.mCSB_inside > .mCSB_container {
  margin-right: 10px;
}
.mCSB_scrollTools .mCSB_draggerContainer {
  height: 80%;
}
.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar {
  width: 1px;
}
.mCSB_scrollTools .mCSB_draggerRail {
  width: 1px;
  /* end */
}
.about-header_head {
  text-align: center;
  margin-bottom: 135px;
}
.about-header_head .about-header__img {
  width: 53%;
}
.about-header_head .about-header__styles {
  padding-left: 25px;
}
.about-header_head .about-header__style:not(:last-child) {
  margin-bottom: 10px;
}
.about-header_head .about-header__link {
  font-size: 14px;
}
.about-header_head .about-header__header {
  font-size: 36px;
  margin-bottom: 30px;
}
.about-header_head .style-wrapper {
  position: relative;
  display: block;
  font-size: 0;
  margin-bottom: 30px;
}
.about-header_head .style-list-wrapper {
  position: absolute;
  vertical-align: middle;
  height: 100%;
  width: 23.5%;
  right: 0;
  top: 0;
  text-align: left;
}
.about-header_prev {
  font-size: 0;
}
.about-header_prev .about-header__img {
  width: 23%;
  display: inline-block;
  vertical-align: middle;
}
.about-header_prev .about-header__style {
  display: inline-block;
}
.about-header_prev .about-header__style:not(:last-child) {
  margin-right: 10px;
  margin-bottom: 10px;
}
.about-header_prev .about-header__link {
  font-size: 12px;
}
.about-header_prev .about-header__header {
  font-size: 34px;
  margin-bottom: 10px;
}
.about-header_prev .group-statistic {
  width: 34%;
  display: inline-block;
  vertical-align: middle;
}
.about-header_prev .group-statistic__link_border {
  border-width: 1px;
}
.about-header_prev .style-list-wrapper {
  display: inline-block;
  width: 43%;
  vertical-align: middle;
  padding-left: 30px;
  padding-right: 5px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.about-header__img {
  -webkit-border-radius: 7px;
  border-radius: 7px;
}
.about-header__styles {
  display: inline-block;
}
.about-header__style {
  display: block;
}
.about-header__group {
  color: #fff;
  text-decoration: none;
}
.about-header__group:hover {
  color: #2089f4;
  text-decoration: none;
}
.about-header__link {
  color: #9996c4;
  padding: 12px 20px;
  background: rgba(0,0,0,0.2);
  -webkit-border-radius: 32px;
  border-radius: 32px;
  display: inline-block;
}
.about-header__link:hover {
  background: rgba(255,255,255,0.2);
  color: #9996c4;
  text-decoration: none;
}
.about-header__header {
  color: #fff;
  font-weight: 500;
  text-transform: capitalize;
}
.group-statistic {
  display: block;
  text-align: center;
}
.group-statistic__item {
  display: inline-block;
}
.group-statistic__item:not(:last-child) {
  margin-right: 20px;
}
.group-statistic__link {
  line-height: 38px;
  font-size: 14px;
  color: #fff;
  display: block;
  text-transform: capitalize;
}
.group-statistic__link.active:before,
.group-statistic__link:hover:before {
  background-image: url("/img/band-sprite-icons-hover.png");
}
.group-statistic__link_border {
  border: 2px solid #fff;
  -webkit-border-radius: 32px;
  border-radius: 32px;
  padding: 0 21px;
}
.group-statistic__link_border.active,
.group-statistic__link_border:hover {
  color: #2089f4;
  border-color: #2089f4;
  text-decoration: none;
}
.group-statistic__link_fans {
  border-left: 1px solid #adacaf;
  color: #adacaf;
  font-size: 12px;
  padding-left: 16px;
}
.group-statistic__but {
  border: 1px solid #9996c4;
  -webkit-border-radius: 32px;
  border-radius: 32px;
  padding: 0 21px;
  color: #9996c4;
  text-transform: uppercase;
}
.group-statistic__but:hover {
  color: #fff;
  background: #9996c4;
}
.group-concerts-list {
  width: 31.6%;
  background: rgba(0,0,0,0.12);
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}
.group-concerts-list__header {
  color: #fff;
  font-size: 20px;
  line-height: 76px;
  padding: 0 18px;
  text-transform: capitalize;
}
.group-concerts-list__item {
  background: rgba(0,0,0,0.1);
  display: block;
}
.group-concerts-list__item:not(:first-child) {
  border-top: 1px solid rgba(255,255,255,0.05);
}
.group-concerts-list__link {
  color: #fff;
  display: block;
  padding: 22px 18px;
}
.group-concerts-list__link:hover {
  background: rgba(255,255,255,0.1);
  color: #fff;
  text-decoration: none;
}
.group-concerts-list__place {
  font-size: 18px;
  display: inline-block;
}
.group-concerts-list__date {
  font-size: 14px;
  color: #adacaf;
  display: block;
}
.group-concerts-list__price {
  color: #9996c4;
  display: inline-block;
  margin-top: 10px;
}
.content-bg-white {
  background: rgba(255,255,255,0.05);
  display: block;
}
.content-bg-white_margin-top {
  margin-top: -76px;
  padding-bottom: 110px;
}
.about-body {
  width: 68.4%;
  display: inline-block;
  padding-right: 15px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.about-body p {
  color: #fff;
  font-size: 14px;
  margin-bottom: 25px;
  line-height: 2;
}
.about-body__list {
  height: 76px;
  text-align: left;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  display: table;
  width: 100%;
}
.about-body__item {
  display: table-cell;
  vertical-align: bottom;
  text-align: center;
  width: 25%;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.about-body__link {
  font-size: 14px;
  color: #9996c4;
  padding: 12px 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  display: block;
  text-transform: uppercase;
  border-bottom: 2px solid transparent;
}
.about-body__link:hover {
  color: #fff;
  text-decoration: none;
}
/* tabs */
.r-tabs .r-tabs-tab {
  display: table-cell;
}
li.about-body__item.r-tabs-tab.r-tabs-state-active .about-body__link {
  border-color: #fff;
  color: #fff;
  text-decoration: none;
}
.r-tabs-accordion-title {
  height: 76px;
  vertical-align: bottom;
  line-height: 76px;
  padding-left: 19px;
  border-bottom: 1px solid #fff;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.r-tabs-accordion-title a {
  color: #fff;
  display: block;
}
.r-tabs .r-tabs-panel {
  padding: 30px 10px 5px 0;
}
.songs-list {
  width: 100%;
}
.songs-list__header {
  background: rgba(0,0,0,0.3);
}
.songs-list__row {
  text-indent: 15px;
}
.songs-list__td {
  font-size: 14px;
  color: #9996c4;
  line-height: 2.5;
}
.songs-list__td_dark {
  color: #646280;
}
.songs-list__body .songs-list__row:nth-child(2n) {
  background: rgba(0,0,0,0.02);
}
.songs-list__body .songs-list__row:nth-child(2n+1) {
  background: rgba(255,255,255,0.02);
}
.gallery-group {
  font-size: 0;
  display: block;
  margin: 0 -15px;
}
.gallery-group__item {
  width: 50%;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 15px;
  display: inline-block;
  position: relative;
}
.gallery-group__link {
  display: block;
}
.gallery-group__link:before {
  content: '';
  position: absolute;
  top: 15px;
  right: 15px;
  left: 15px;
  bottom: 15px;
  display: block;
  z-index: 1;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  background: #262232;
  opacity: 0.8;
}
.gallery-group__link:hover:before {
  opacity: 0.5;
}
.gallery-group__img {
  width: 100%;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}
.gallery-group__description {
  bottom: 60px;
  left: 35px;
  display: block;
  position: absolute;
  z-index: 1;
}
.gallery-group__group-name {
  color: #fff;
  font-size: 22px;
  text-transform: uppercase;
}
.hash-list {
  display: block;
  position: absolute;
  bottom: 30px;
  left: 35px;
  z-index: 13;
}
.hash-list__item {
  display: inline-block;
}
.hash-list__link {
  display: block;
  margin-right: 4px;
  font-size: 14px;
  color: #9996c4;
}
.hash-list__link:before {
  content: '#';
}
.hash-list__link:hover {
  color: #fff;
}
.hash-list__link:hover:before {
  color: #fff;
}
.l-filters__select_country {
  min-width: 130px;
}
.l-filters__select_city {
  min-width: 165px;
}
.l-filters__select_fans {
  min-width: 90px;
}
.l-filters__select_genre {
  min-width: 140px;
}
.l-filters__item {
  display: inline-block;
}
.l-filters__item:not(:last-child) {
  margin-right: 30px;
}
.l-filters__option {
  background: #313039;
}
.l-filters__label {
  color: #9996c4;
  font-size: 14px;
  margin-right: 10px;
}
.filtered-element {
  padding: 30px 0;
}
.filtered-element:nth-child(2n+1) {
  background: rgba(255,255,255,0.03);
}
.user-cabinet {
  display: inline-block;
  cursor: pointer;
  z-index: 20;
  text-align: left;
  min-width: 220px;
  position: relative;
  /* custom select */
}
.user-cabinet__img {
  vertical-align: middle;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  width: 36px;
  margin-right: 10px;
}
.user-cabinet__head {
  color: #fff;
  display: block;
  font-size: 16px;
  position: relative;
  width: 100%;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 7px 9px;
  background: #2089f4;
  padding-right: 35px;
  -webkit-border-radius: 21px;
  border-radius: 21px;
}
.user-cabinet__head.active {
  -webkit-border-bottom-left-radius: 0;
  border-bottom-left-radius: 0;
  -webkit-border-bottom-right-radius: 0;
  border-bottom-right-radius: 0;
}
.user-cabinet__head:hover {
  background-color: #2e96ff;
}
.user-cabinet__head:after {
  position: absolute;
  top: 50%;
  right: 18px;
  content: '';
  background: url("/img/list_arrow.png") bottom center;
  display: inline-block;
  width: 9px;
  height: 6px;
  margin-top: -3px;
}
.user-cabinet__menu {
  display: none;
  position: absolute;
  padding-bottom: 5px;
  background: #2089f4;
  -webkit-border-bottom-left-radius: 21px;
  border-bottom-left-radius: 21px;
  -webkit-border-bottom-right-radius: 21px;
  border-bottom-right-radius: 21px;
  width: 100%;
}
.user-cabinet__item {
  border-top: 1px solid rgba(0,0,0,0.2);
}
.user-cabinet__link {
  color: #bcd9f5;
  display: block;
  width: 100%;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-size: 14px;
  padding: 8px 17px;
}
.user-cabinet__link:hover {
  color: #fff;
}
.user-cabinet__link:hover:before {
  background-image: url("/img/profile-sprite-hover.png");
}
.selectize-control .selectize-input > input {
  display: none !important;
}
.selectize-control.single .selectize-input:after {
  border-color: #9996c4 transparent transparent transparent;
}
.selectize-input.items.full.has-options.has-items.focus.dropdown-active.input-active {
  -webkit-border-bottom-left-radius: 0;
  border-bottom-left-radius: 0;
  -webkit-border-bottom-right-radius: 0;
  border-bottom-right-radius: 0;
  color: #fff;
}
.selectize-control.single .selectize-input.dropdown-active:after {
  border-color: transparent transparent #fff transparent;
}
.selectize-control {
  position: relative;
  display: inline-block;
  vertical-align: middle;
}
.selectize-input.items.full.has-options.has-items {
  -webkit-border-radius: 17px;
  border-radius: 17px;
  color: #9996c4;
  padding: 10px 30px 10px 20px;
  line-height: 1;
  font-size: 14px;
  background: rgba(255,255,255,0.1);
  border: none;
}
.selectize-dropdown [data-selectable],
.selectize-dropdown .optgroup-header,
.selectize-dropdown .active {
  padding: 3px 8px;
  padding-left: 19px;
  font-size: 12px;
  color: #9996c4;
  border-top: 1px solid rgba(255,255,255,0.03);
}
.selectize-dropdown .active,
.selectize-dropdown .selected {
  background: transparent;
  color: #fff;
}
.selectize-dropdown {
  background: #3e2933;
  border-color: transparent;
  -webkit-border-bottom-right-radius: 17px;
  border-bottom-right-radius: 17px;
  -webkit-border-bottom-left-radius: 17px;
  border-bottom-left-radius: 17px;
  width: 100% !important;
}
@media (max-width: 960px) {
  .l-header__h {
    margin-top: 80px;
    font-size: 65px;
  }
  .user-cabinet {
    float: none;
  }
  .logo {
    float: none;
    margin-bottom: 15px;
  }
  .l-header_bg-style {
    padding-bottom: 20px;
  }
  .l-sort__items {
    -webkit-border-radius: 28px;
    border-radius: 28px;
  }
  #everywhere {
    width: 49%;
    float: right;
  }
  #everything {
    width: 49%;
  }
  #everything .l-sort__header {
    display: block;
  }
  .l-sort__everything {
    display: none;
  }
  #allTime {
    width: 100%;
  }
  .l-sort__items.active .l-sort__list {
    max-height: 120px;
  }
  .event-list_normal .event-list__item {
    width: 50%;
  }
  .l-events {
    padding-bottom: 80px;
  }
  .latest-concert__item:first-child,
  .latest-concert__item:nth-child(2) {
    display: none;
  }
}
@media (max-width: 800px) {
  .l-header__h {
    margin-top: 80px;
    font-size: 50px;
  }
  .user-cabinet {
    float: none;
    min-width: 190px;
  }
  .user-cabinet__head {
    padding: 4px 5px;
    font-size: 15px;
  }
  .user-cabinet__link {
    font-size: 12px;
    padding: 6px 13px;
  }
  .user-cabinet__link:before {
    margin-right: 20px;
  }
  .navigation__link {
    padding: 12px 18px;
    font-size: 12px;
  }
}
