{% extends 'base.html.twig' %}

{% block body %}
    <h3>Жанри</h3>
    <table style="width: 100%">
        <thead>
        <tr>
            <th>Назва</th>
        </tr>
        </thead>
        <tbody>
        {% for genre in genres %}
            <tr>
                <td><a href="{{ path('genre_group',{ 'slug' : genre.slug })}}">{{ genre.name }}</a></td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}