{% extends 'base.html.twig' %}

{% block body %}
    <h1>Список Гуртів</h1>
    <table>
        <thead>
        <tr>
            <th>Назва</th>
            <th>Опис</th>
            <th>Рік створення</th>
        </tr>
        </thead>
        <tbody>
        {% for group in groups %}
            <tr>
                <td><a href="{{ path('group_show',{ 'slug' : group.slug })}}">{{ group.name }}</a></td>
                <td>{{ group.description }}</td>
                <td>{{ group.foundedAt|date("Y") }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}