{% block body %}
    <div class="l-event-dated gradient-bg gradient-bg_dark cf">
        <div class="content">
            <h2 class="l-event-dated__h">Latest concerts</h2>
            <ul class="latest-concert">
                {% for event in events %}
                    <li class="latest-concert__item">
                        <a href="{{ path('event_show', { 'slug': event.slug }) }}" class="latest-concert__link">
                            <time class="latest-concert__time">{{ event.beginAt|date('F jS \\a\\t g:ia') }}</time>
                            <h3 class="latest-concert__group">{{ event.name }}</h3>
                        </a>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>
{% endblock %}
